<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>This app requires access to the camera.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to the photo library to update your image.</string>
	<key>UIAppFonts</key>
	<array>
		<string>ArbFONTS-Somar-Black.otf</string>
		<string>ArbFONTS-Somar-BlackItalic.otf</string>
		<string>ArbFONTS-Somar-Bold.otf</string>
		<string>ArbFONTS-Somar-BoldItalic.otf</string>
		<string>ArbFONTS-Somar-ExtraBold.otf</string>
		<string>ArbFONTS-Somar-BlackBoldItalic.otf</string>
		<string>ArbFONTS-Somar-ExtraLight.otf</string>
		<string>ArbFONTS-Somar-ExtraLightItalic.otf</string>
		<string>ArbFONTS-Somar-Light.otf</string>
		<string>ArbFONTS-Somar-LightItalic.otf</string>
		<string>ArbFONTS-Somar-Medium.otf</string>
		<string>ArbFONTS-Somar-MediumItalic.otf</string>
		<string>ArbFONTS-Somar-Regular.otf</string>
		<string>ArbFONTS-Somar-RegularItalic.otf</string>
		<string>ArbFONTS-Somar-SemiBold.otf</string>
		<string>ArbFONTS-Somar-SemiBoldItalic.otf</string>
		<string>ArbFONTS-Somar-Thin.otf</string>
		<string>ArbFONTS-Somar-ThinItalic.otf</string>
		<string>Poppins-Black.ttf</string>
		<string>Poppins-BlackItalic.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-BoldItalic.ttf</string>
		<string>Poppins-ExtraBold.ttf</string>
		<string>Poppins-ExtraBoldItalic.ttf</string>
		<string>Poppins-ExtraLight.ttf</string>
		<string>Poppins-ExtraLightItalic.ttf</string>
		<string>Poppins-italic.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-LightItalic.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-MediumItalic.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-SemiBoldItalic.ttf</string>
		<string>Poppins-Thin.ttf</string>
		<string>Poppins-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
